In [13]:
# To find the variable name and its value by searching the dictionary for the value.
# locals() returns a dictionary of the local symbol table (for local variables in the current scope).
# globals() returns a dictionary of the global symbol table (for global variables).

a = 10
name = "Maaz"

# globals()
def var_name_finder(var: any):
  for name, value in globals().items():
    if var is value:
      print(f"{name} : {value}")
# locals()
def local_var_finder():
  a = 10
  b = 20
  name = "Taha"
  print(locals())

var_name_finder(a)
var_name_finder(name)

local_var_finder()

a : 10
name : Maaz
{'a': 10, 'b': 20, 'name': 'Taha'}

In [27]:
# Types of NULL in python

def NULL_not_found(object: any) -> int:
  var_name = ""
  for name, value in globals().items():
    if object is value:
      var_name = name
  if var_name == "":
    print("Type not Found")
    return 1
  else:
    print(f"{var_name}: {object} {type(object)}")
    return 0

Nothing = None
Garlic = float("NaN")
Zero = 0
Empty = ''
Fake = False
NULL_not_found(Nothing)
NULL_not_found(Garlic)
NULL_not_found(Zero)
NULL_not_found(Empty)
NULL_not_found(Fake)
print(NULL_not_found("Brian"))

Nothing: None <class 'NoneType'>
Garlic: nan <class 'float'>
Zero: 0 <class 'int'>
Empty:  <class 'str'>
Fake: False <class 'bool'>
Type not Found
1