In [53]:
# using print and different string formatting
name = "Ai"
age = 42

print(f"Hello World, I am {name} and am {age} years old.") # called f-strings
print("Hello World, I am {} and am {} years old.".format(name, age))
print("Hello World, I am %s and am %d years old." % (name, age))

# printing without new-line
print("Hello ", end="")
print("World!")

Hello World, I am Ai and am 42 years old.
Hello World, I am Ai and am 42 years old.
Hello World, I am Ai and am 42 years old.
Hello World!

In [27]:
# Lists (list) – Mutable Sequences (just like an array in C)

list = ["Hello", 42, 42.42, ["Hello", "World"]]
print(list[0])
print(list[3][1])

# operations
list.append("Hello") # ['Hello', 42, 42.42, ['Hello', 'World'], 'Hello']
list.pop() # ['Hello', 42, 42.42, ['Hello', 'World']]
list.insert(1, "World")
print(list)

Hello
World
['Hello', 'World', 42, 42.42, ['Hello', 'World']]

In [30]:
# Tuples (tuple) – Immutable Sequences (like const arr[] in C)

tup = (1, "Hello", "World", 42.42)
print(tup[1], tup[2])

# Why Use Tuples?
  # Immutable → Faster than lists (better for read-only data).
  # Hashable → Can be used as dictionary keys or set elements.
  # More Memory Efficient → Stored in a single block (vs. dynamic resizing in lists).

Hello World

In [37]:
# Sets (set) – Unordered Collections of Unique Values
s = {1, 3, 2, 3, "Hello", "3", "Hello"}
print("set:", s)

s.add(42)
s.remove("3")
s.discard(100)
print("new set:", s)

# sets are fast - (0)1
if 3 in s:
  print("exists")

# Why Use Sets?
  # Unordered & Unique → Automatically removes duplicates.
  # Fast Membership Testing (O(1))
  # Useful for Mathematical Operations

set: {1, 2, 3, '3', 'Hello'}
new set: {1, 2, 3, 42, 'Hello'}
exists

In [46]:
# Dictionaries (dict) – Key-Value Pairs
tup = (1)
dic = {"name": "maaz", "age": 23}
print(dic)
print(dic["name"])

# muatablity
dic["name"] = "Ai" # update value
dic["school"] = "42AD" # add key
print(dic)

# methods
print(dic.keys()) # get all keys
print(dic.values()) # get all values
print(dic.items()) # get key-value pairs

{'name': 'maaz', 'age': 23}
maaz
{'name': 'Ai', 'age': 23, 'school': '42AD'}
dict_keys(['name', 'age', 'school'])
dict_values(['Ai', 23, '42AD'])
dict_items([('name', 'Ai'), ('age', 23), ('school', '42AD')])

In [58]:
# ex00
ft_list = ["Hello", "tata!"]
ft_tuple = ("Hello", "toto!")
ft_set = {"Hello", "tutu!"}
ft_dict = {"Hello" : "titi!"}

# your code here
ft_list[1] = "World"

ft_tuple = ("Hello", "UAE")

ft_set.discard("tutu!")
ft_set.add("Abu Dhabi")

ft_dict["Hello"] = "42 Abu Dhabi"

print(ft_list)
print(ft_tuple)
print(ft_set)
print(ft_dict)

['Hello', 'World', 'tata!']
('Hello', 'UAE')
{'Abu Dhabi', 'Hello'}
{'Hello': '42 Abu Dhabi'}